name: Kotlin test workflow
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"
      - run: yarn install
        working-directory: js
      - run: ./gradlew build
        working-directory: kotlin
