name: Kotlin test workflow
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
      - run: yarn install
        working-directory: js
      - run: ./gradlew build
        working-directory: kotlin
  build-example-project:
    if: false # disabled because build hangs indefinitely
    name: Build example project
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
      - run: yarn install
        working-directory: example
      - run: yarn install
        working-directory: js
      - run: ./gradlew build
        working-directory: example/android
  maven-local-publish:
    name: Publish to maven local
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
      - run: yarn install
        working-directory: js
      - run: ./gradlew publishToMavenLocal
        working-directory: kotlin
